<!DOCTYPE html>
<html>
  <head>
    <title>TurboPagination</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="container flex mx-auto px-5">
      <ul>
        <li class="mr-6">
          <a class="text-blue-500 hover:text-green-500" href="<%= widgets_path %>">old fashion pagination</a>
        </li>
        <li class="mr-6">
          <a class="text-blue-500 hover:text-green-500" href="<%= turbo_widgets_path %>">navigate page with turbo</a>
        </li>
        <li class="mr-6">
          <a class="text-blue-500 hover:text-green-500" href="<%= manual_infinite_scroll_path %>">manual infinite scroll</a>
        </li>
        <li class="mr-6">
          <a class="text-blue-500 hover:text-green-500" href="<%= infinite_scroll_path %>">infinite scroll</a>
        </li>
      </ul>
    </nav>

    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
